@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}

<style>
    .navbar-brand {
        font-family: 'Niagara Solid';
        font-weight: 500;
        font-size: 50px;
    }


    li {
        background-color: bisque;
        font-family: Onyx;
        font-weight: 500;
        font-size: 25px;
    }

    h4{
        font-family:Algerian;
    }

    p {
        font-family: 'Book Antiqua';
    }

</style>



<h1>@ViewData["Title"]</h1>

<br />
<br />

<h4> We are..</h4>  
<br />

<p>A motivated company selling all kinds of flags.</p>
<br />
 <p>We have Edible flags! Stone flags! FLAG flags! If you thought about a flag WE FRIGGIN' HAVE IT!</p>


 <p>
     Our philosophy is simple: Flags!, Flags!, and all your money in our pockets!!!!!!

     We are offering you the best choices to maximize your show off potential. We all know you are buying these flags to anger your neighbors or show off your ridiculous pride, so come on down
     
     and represent yourself with a flag!!!!

     Not only do we manufacture most of the products we sell, we also offer complete installation and maintenance services. We employ a full-time installation team equipped with a 45' foot reach bucket truck ready to travel anywhere. 
     
     We specialize in flagpole installations, street banner installs and take-downs (seasonal changes), short notice and temporary installations for projects such as film productions and weekend festivals.
 </p>

 <img src="~/Img/pizzaflag.png" />
