@{
    ViewData["Title"] = "Home Page";
}


<style>

    .navbar-brand {
        font-family: 'Niagara Solid';
        font-weight: 500;
        font-size: 50px;
    }



    h1 {
        color: white;
        margin-left: 480px;
        text-align: center;
        background: #2980b9; 
        background: -webkit-linear-gradient(to right, #2c3e50, #2980b9); 
        background: linear-gradient(to right, #2c3e50, #2980b9); 
        border-radius: 50%;
        width: 150px;
        height: 150px;
      }

        
</style>

<div class="text-center">
   <h1><a class="nav-link text-white" asp-area="" asp-controller="Flags" asp-action="Index">Flags 4 US</a></h1>
    <p> Come and get your flags here! </p>
    <p> We have a vast catalog waiting to be looked at please click on the FLAGS 4 US above to take yourself to the Catalog.</p>
</div>



<img src="~/Img/stoneflag.png" style="width:100px;height:100px;" /> <img src="~/Img/hexaflag.png" style="width:200px;height:200px;" /> <img src="~/Img/boxflag.png" style="width:200px;height:200px;" /> <img src="~/Img/pinkflag.png" style="width:200px;height:200px;" /> <img src="~/Img/purplestarflag.png" style="width:200px;height:200px;" /> <img src="~/Img/flaghol.png" style="width:100px;height:100px;" />


<p> If you don't like clicking on circles feel free to click on the catalogue link in the navigation bar. There you will find our collection of the most beautiful flags the world has ever seen!
    Please enjoy! Don't forget to spend a lot of money. We also carry edible flags in case you get hungry after all that showing off.</p>

<img src="~/Img/colorfulflag.png" style="width:auto;height:auto;" />
