@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h1><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Catalogue">Flags 4 US</a></h1>
    <p> Come and get your flags here! </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
