@{
    ViewData["Title"] = "Home Page";
}


<style>
    h1 {
        color: white;
        margin-left: 450px;
        text-align: center;
        background: #2980b9; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2c3e50, #2980b9); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 50%;
        width: 200px;
        height: 200px;
      }

        
</style>

<div class="text-center">
   <h1><a class="nav-link text-white" asp-area="" asp-controller="Flags" asp-action="Index">Flags 4 US</a></h1>
    <p> Come and get your flags here! </p>
    <p> We have a vast catalog waiting to be looked at please click on the FLAGS 4 US above to take yourself to the Catalog.</p>
</div>



<img src="~/Img/stoneflag.png" style="width:100px;height:100px;" /> <img src="~/Img/hexaflag.png" style="width:200px;height:200px;" /> <img src="~/Img/boxflag.png" style="width:200px;height:200px;" /> <img src="~/Img/pinkflag.png" style="width:200px;height:200px;" /> <img src="~/Img/purplestarflag.png" style="width:200px;height:200px;" /> <img src="~/Img/flaghol.png" style="width:100px;height:100px;" />