@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<p> We steal all of your cookies and data and once you sign into our website we have full authorization to steal your information for whatever use we wish.</p>

<p> Enjoy !</p>
