/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
 
}

.navbar-brand {
    font-family:Onyx;
    font-weight:500;
    font-size:50px;
}


li {
    font-family: fantasy;
    font-weight: 400;
}




/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 16px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: #F5F5DC;
    background: linear-gradient(to bottom, #F5F5DC 0%, #E6E6CD 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F5F5DC), color-stop(100%, #E6E6CD));
    background: -webkit-linear-gradient(top, #F5F5DC 0%, #E6E6CD 100%);
    background: -moz-linear-gradient(top, #F5F5DC 0%, #E6E6CD 100%);
    background: -o-linear-gradient(top, #F5F5DC 0%, #E6E6CD 100%);
    background: -ms-linear-gradient(top, #F5F5DC 0%, #E6E6CD 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5DC', endColorstr='#E6E6CD', GradientType=0);
    border: 1px solid #D7D7BE;
    box-shadow: inset 0 1px 0 #FFFFEB;
    -webkit-box-shadow: inset 0 1px 0 #FFFFEB;
    -moz-box-shadow: inset 0 1px 0 #FFFFEB;
}


.nav-item {
 background-color:bisque;
}









.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: bisque;
}


